<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Placeholder Name of Card/Set/Artist</title>

<!-- Bootstrap Stylesheet -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="../static/css/custom-css.css">
</head>

<body ng-app="dark">
	<!-- Nav Bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html"><img src="../static/images/logotransparent.png" alt="Data: The Gathering"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/home">Home</a></li>
					<li><a href="#/cards">Cards</a></li>
					<li><a href="#/artists">Artists</a></li>
					<li><a href="#/sets">Sets</a></li>
					<li><a href="#/about">About</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" id="roundedbg-card">
		<div class="col-sm-6 center-block" style="width: 40%; max-width: 800px; table-layout: fixed;">
		  <img class="center-block" src="../static/images/admonitionangel.jpg" width="250px">
		</div>
		<div class="col-sm-6 center-block">
			<table class="table" id="no-borders-table">
                <tbody>
                  <tr>
                    <td class="text-right"><b>Name:</b></td>
                    <td>Admonition Angel</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Artist:</b></td>
                    <td>Steve Argyle</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Sets:</b></td>
                    <td>Worldwake</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Type:</b></td>
                    <td>Creature-Angel</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Converted Mana Cost:</b></td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Cost:</b></td>
                    <td><img src="../static/images/3generic.png" alt="3" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"></td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Card Text:</b></td>
                    <td>
                    	Flying
                    	<br>Landfall — Whenever a land enters the battlefield under your control, you may exile target nonland permanent other than Admonition Angel. 
                    	<br>When Admonition Angel leaves the battlefield, return all cards exiled with it to the battlefield under their owners' control.
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>P/T:</b></td>
                    <td>6/6</td>
                  </tr>
                  <tr>
                    <td class="text-right"><b>Rarity:</b></td>
                    <td>Mythic Rare</td>
                  </tr>
                </tbody>
              </table>
		</div>

		
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
