body {
	background-color: #000000;
}
	
.navbar-default {
	background-color: #000000;
	background-image: none;
}

.navbar-brand>img {
	width: auto;
	margin-top: -40px;
	}

.navbar-fixed-top {
	margin-top: 30px;
}

@media (min-width: 1024px) {
	.container-extra {
		width: 60%;
	}
}

.yelling-font {
	color: orange;
	font-size: 4em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bottom-margin {
	margin-bottom: 50px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}