body {
	background-color: #000000;
	background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/header.jpg');
    min-height: 2000px;
    padding-top: 300px;
    color: white;
}
	
.navbar-default {
	background-color: #000000;
	background-image: none;
}

.navbar-brand>img {
	width: auto;
	margin-top: -40px;
	}

.navbar-fixed-top {
	margin-top: 30px;
}

@media (min-width: 1024px) {
	.container-extra {
		width: 60%;
	}
}

.yelling-font {
	color: orange;
	font-size: 4em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bottom-margin {
	margin-bottom: 50px;
}

.title-font{
	margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 2cm;
    font-size: 3em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;;
    font-weight: 500;
    line-height: 1.1;
    color: orange;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #202020;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CC3300;
}

.mtg-color {
	height: 20px;
	width: 20px;
	display: inline-block;
}

.mtg-any0 {
	background: url('../images/Mana.svg') -0px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any1 {
	background: url('../images/Mana.svg') -20px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2 {
	background: url('../images/Mana.svg') -40px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any3 {
	background: url('../images/Mana.svg') -60px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any4 {
	background: url('../images/Mana.svg') -80px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any5 {
	background: url('../images/Mana.svg') -100px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any6 {
	background: url('../images/Mana.svg') -120px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any7 {
	background: url('../images/Mana.svg') -140px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any8 {
	background: url('../images/Mana.svg') -160px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any9 {
	background: url('../images/Mana.svg') -180px -30px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any10 {
	background: url('../images/Mana.svg') -20px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any11 {
	background: url('../images/Mana.svg') -20px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any12 {
	background: url('../images/Mana.svg') -40px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any13 {
	background: url('../images/Mana.svg') -60px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any14 {
	background: url('../images/Mana.svg') -80px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any15 {
	background: url('../images/Mana.svg') -100px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any16 {
	background: url('../images/Mana.svg') -120px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any17 {
	background: url('../images/Mana.svg') -140px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any18 {
	background: url('../images/Mana.svg') -160px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any19 {
	background: url('../images/Mana.svg') -180px -50px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any20 {
	background: url('../images/Mana.svg') -20px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-anyX {
	background: url('../images/Mana.svg') -20px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-anyY {
	background: url('../images/Mana.svg') -40px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-anyZ {
	background: url('../images/Mana.svg') -60px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white {
	background: url('../images/Mana.svg') -80px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white-old {
	background: url('../images/Mana.svg') -120px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-blue {
	background: url('../images/Mana.svg') -100px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-black {
	background: url('../images/Mana.svg') -120px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-red {
	background: url('../images/Mana.svg') -140px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-green {
	background: url('../images/Mana.svg') -160px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-snow {
	background: url('../images/Mana.svg') -180px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white-blue {
	background: url('../images/Mana.svg') -0px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white-black {
	background: url('../images/Mana.svg') -20px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-blue-black {
	background: url('../images/Mana.svg') -40px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-blue-red {
	background: url('../images/Mana.svg') -60px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-black-red {
	background: url('../images/Mana.svg') -80px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-black-green {
	background: url('../images/Mana.svg') -100px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-red-white {
	background: url('../images/Mana.svg') -120px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-red-green {
	background: url('../images/Mana.svg') -140px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-green-white {
	background: url('../images/Mana.svg') -160px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-green-blue {
	background: url('../images/Mana.svg') -180px -90px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2-white {
	background: url('../images/Mana.svg') -0px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2-blue {
	background: url('../images/Mana.svg') -20px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2-black {
	background: url('../images/Mana.svg') -40px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2-red {
	background: url('../images/Mana.svg') -60px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-any2-green {
	background: url('../images/Mana.svg') -80px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-phyrexia-white {
	background: url('../images/Mana.svg') -100px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-phyrexia-blue {
	background: url('../images/Mana.svg') -120px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-phyrexia-black {
	background: url('../images/Mana.svg') -140px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-phyrexia-red {
	background: url('../images/Mana.svg') -160px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-phyrexia-green {
	background: url('../images/Mana.svg') -180px -110px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-tapA {
	background: url('../images/Mana.svg') -0px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-tapB {
	background: url('../images/Mana.svg') -80px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-tapC {
	background: url('../images/Mana.svg') -100px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-untap {
	background: url('../images/Mana.svg') -20px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-infinity {
	background: url('../images/Mana.svg') -40px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-half {
	background: url('../images/Mana.svg') -60px -130px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white {
	background: url('../images/Mana.svg') -80px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white {
	background: url('../images/Mana.svg') -80px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white {
	background: url('../images/Mana.svg') -80px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}

.mtg-white {
	background: url('../images/Mana.svg') -80px -70px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}
