<style>
p.big {
	line-height: 3;
}
</style>
<div class="container bottom-margin" style="color: #FFFFFF">
	<div class="row">
		<div class="col-sm-6">
			<p style="font-size: 1.75em;">
			This database was created by ...
			</p>
			<span class="yelling-font" style="font-family: magicFontBold; font-size: 4.15em;">Team Dark Ritual</span>
			<p>We are a group of 6 eclectic college students with a love of
				rituals of the darkest nature. We strive to create a friendly
				atmosphere and impart knowledge about the wonders of Magic cards.
			<p>This page will be updated as the project continues.</p>

			<p></p>
			<div class="col-sm-4">
				<p class="yelling-font" style="font-size: 1.75em; font-family: magicFont;">Stats</p>
				<p>
					Total # of Commits: 263<br>Total # of Issues: 42 <br>Total
					# of Unit Tests: 26
				</p>
			</div>

			<p></p>
			<div class="col-sm-4">
				<p class="yelling-font" style="font-size: 1.75em; font-family: magicFont;">Resources</p>
					<p>
					<a href="http://docs.darkritual.apiary.io/#"><img src="../static/images/apiarylogo.png" width="30px"> API</a>
					</p>
					<p>
					<a href="https://github.com/dark-ritual/cs373-idb/issues"><img src="../static/images/github-logo.png" height="30px"> Issue Tracker</a>
					</p>
					<p>
					<a href="https://github.com/dark-ritual/cs373-idb"><img src="../static/images/github-logo.png" height="30px"> Repo</a>
					</p>
					<p>
					<a href="https://github.com/dark-ritual/cs373-idb/wiki"><img src="../static/images/github-logo.png" height="30px"> Wiki</a>
					</p>
					<p>
					<a href="#/tests"><img src="../static/images/tests-logo.png" height="30px"> Run Tests</a>
					</p>
				<p>
			</div>
			<div class="col-sm-4">
				<p class="yelling-font" style="font-size: 1.75em; font-family: magicFont;">Data Sources
				</p>
				<a href="http://mtgsalvation.gamepedia.com/Main_Page"> MtG
					Salvation</a> - for card set information <br> <a
					href="http://gatherer.wizards.com/Pages/Default.aspx"> Gatherer</a>
				- for card lists & artist information
			</div>
</div>
			<div class="row" id="roundedbg-table">
				<div class="col-lg-12">
					<p class="big">
					<p>
						<p class="yelling-font" style="font-size: 2.8em; font-family: magicFont;"><b>Tools Used</b></p>
					</p>
					<div class="col-lg-6">
						<p>
						<img src="../static/images/Bootstrap-logo.png" height="30px"> Bootstrap
						</p>
						<p>
						<img src="../static/images/html5-logo.png" width="30px"> HTML
						</p>
						<p>
						<img src="../static/images/css-logo.png" width="30px"> CSS
						</p>
						<p>
						<img src="../static/images/angularjs-logo.png" width="30px"> AngularJS
						</p>
						<p>
						<img src="../static/images/trello-logo.png" width="30px"> Trello
						</p> 
						<p>
						<img src="../static/images/github-logo.png" width="30px"> GitHub
						</p>
						<p>
						<img src="../static/images/travisci-logo.png" width="30px"> TravisCI
						</p>
						<p>
	 					<img src="../static/images/slack-logo.png" width="30px"> Slack
						</p>
					</div>
					
					<div class="col-lg-6">
						<p>
							<img src="../static/images/namecheap-logo.png" width="30px">
							Namecheap
						</p>
						<p>
							<img src="../static/images/apiarylogo.png" width="30px"> Apiary
						</p>
						<p>
							<img src="../static/images/flask-logo.svg" width="30px"> Flask
						</p>
						<p>
							<img src="../static/images/sqlalchemy-logo.png" height="30px"> SQLAlchemy
						</p>
						<p>
							<img src="../static/images/python-logo.png" width="30px"> Python
						</p>
						<p> 
							<img src="../static/images/mysql-logo.png" width="30px"> MySQL
						</p>
						<p>
							<img src="../static/images/gunicorn-logo.png" width="30px"> Gunicorn
						</p>
						<p>
							<img src="../static/images/carina-logo.png" width="30px"> Carina
						</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<slick center-mode="true" center-padding="60px" variable-width="true"
		adaptive-height="true" slides-to-show=3 autoplay="true"
		autoplay-speed="2000" pause-on-hover="true"
		responsive="[{breakpoint: 768,settings: {arrows: false,centerMode: true,centerPadding: '40px',slidesToShow: 3}},{breakpoint: 480,settings: {arrows: false,centerMode: true,centerPadding: '40px',slidesToShow: 1}}]">

	<div style="background-image: url('{{option.imageUrl}}')"
		class="slider center" ng-repeat="option in carouselOptions">
		<h3>{{option.name}}</h3>
	</div>
	</slick>
</div>


<div class=container>
	<!-- Member Information -->
	<div class="row bottom-margin">
		<!-- First Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/JavierV1.0.png"
				width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Javier De La Garza</b> - <i>Legendary Creature</i>
			<p>CS Student. Master Salsa Maker.
			<p>Major Responsibilities: Frontend Bootstrap, AngularJS, and
				Wiki
			<p>
				# Commits: 124 <br># Issues: 8 <br># Unit Tests: 0
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg"
				src="../static/images/ShanellV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Shanell</b> - <i>Legendary Creature</i>
			<p>CS Student.
			<p>Major Responsibilities: Docker/Carina Set-up, Frontend
				Bootstrap, AngularJS, Wiki.
			<p>
				# Commits: 47 <br># Issues: 9 <br># Unit Tests: 0
		</div>
	</div>
	<div class="row bottom-margin">
		<!-- Second Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/PeterV1.0.png"
				width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Peter</b> - <i>Legendary Creature</i>
			<p>CS Student.
			<p>Major Responsibilities: Wiki, RESTful API, Python Unit Tests.


			
			<p>
				# Commits: 29 <br># Issues: 8 <br># Unit Tests: 10
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg"
				src="../static/images/StephanieV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Stephanie Wilbur</b> - <i>Legendary Creature</i>
			<p>CS Student. Enjoys fly fishing.
			<p>Major Responsibilities: SQL Database, Python Unit Tests,
				Scraping.
			<p>
				# Commits: 3 <br># Issues: 8 <br># Unit Tests: 26
		</div>
	</div>
	<div class="row bottom-margin">
		<!-- Third Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/MarkV1.0.png"
				width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Mark</b> - <i>Legendary Creature</i>
			<p>CS Student. Cult leader.
			<p>Major Responsibilities: SQL Database, Python Unit Testing,
				Scraping.
			<p>
				# Commits: 56 <br># Issues: 8 <br># Unit Tests: 26
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/TonyaV1.0.png"
				width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Tonya Howard</b> - <i>Legendary Creature</i>
			<p>CS Student. Wants to eat cake all day.
			<p>Major Responsibilities: Bootstrap, Frontend Website Design.
			<p>
				# Commits: 12 <br># Issues: 1 <br># Unit Tests: 0
		</div>
	</div>
	<!-- /Third Row -->
</div>

