<div class="container" ng-controller="CardInstanceController">

  <div class="container" id="roundedbg-card">

  	<div class="col-sm-6 center-block" style="width: 40%; max-width: 800px; table-layout: fixed;">
  	  <img class="center-block" src="{{  cardinstance[0].multiverse_ids[0].image_url  }}" width="250px">
  	</div>

  	<div class="col-sm-6 center-block">
  		<table class="table" id="no-borders-table">
        <tbody>
          <tr>
            <td class="text-right" width="75px"><b>Name:</b></td>
            <td width="150px"><a href="#/cards/{{ cardinstance[0].card_id }}">{{ cardinstance[0].name }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Artist:</b></td>
            <td><a href="#/artists/{{ cardinstance[0].multiverse_ids[0].artist_id }}">{{ cardinstance[0].multiverse_ids[0].artist_name }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Sets:</b></td>
            <td><a href="#/sets/{{ cardinstance[0].multiverse_ids[0].set_id  }}">{{ cardinstance[0].multiverse_ids[0].set_name }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Type<span ng-if="cardinstance[0].alltypes.length > 1">s</span>:</b></td>
            <td><span class="capitalize" ng-repeat="type in cardinstance[0].alltypes">{{ type }}<span ng-show="!$last">, </span></span></td>
          </tr>
          <tr ng-if="cardinstance[0].cmc > 0">
            <td class="text-right"><b>Converted Mana Cost:</b></td>
            <td >{{ cardinstance[0].cmc }}</td>
          </tr>
          <tr ng-if="cardinstance[0].cost.length > 0">
            <td class="text-right"><b>Cost:</b></td>
            <td> 
              <div ng-repeat="costClass in convertCost(cardinstance[0].cost) track by $index" class="{{ costClass }} mtg-standard"></div>
            </td>
          </tr>
          <tr>
            <td class="text-right"><b>Card Text:</b></td>
            <td><span ng-bind-html="cardinstance[0].text"></span></td>
          </tr>
          <tr ng-if="cardinstance[0].power.length > 0 && cardinstance[0].toughness.length > 0">
            <td class="text-right"><b>P/T:</b></td>
            <td>{{ cardinstance[0].power }} / {{ cardinstance[0].toughness }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Rarity:</b></td>
            <td class="capitalize">{{ cardinstance[0].multiverse_ids[0].rarity }}</td>
          </tr>
        </tbody>
      </table>
  	</div>

  </div>

</div>