<link rel="stylesheet" href="../static/css/hexbin.css">
<!-- HexBin -->
<div id="examples">
  <div id="examples-deep"></div>
</div>

<!-- Welcome Banner -->
<div class="container container-extra" style="color: #FFFFFF">
	<div class="row bottom-margin">
		<span class="yelling-font">Welcome!</span> 
		<p>The Dark Ritual presents: Data: The Gathering Database. Here we have information regarding the cards, artists, and sets of MtG card game. Feel free to explore the website!

		Todo:
		- Fix hexbin
		- Long twitter widget
		- Add facebook widget
		</p>
	</div>
</div>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/wizards_magic" data-widget-id="717527961843273728">Tweets by @wizards_magic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="../static/js/hexbin.js"></script>
