<link rel="stylesheet" href="../static/css/hexbin.css">


<!-- Welcome Banner -->
<div class="container" style="color: #FFFFFF">
	<div class="row">
	<center>
		<span class="yelling-font" style="font-family: magicFontBold; font-size: 4em;">Welcome to Data: the Gathering!</span> 
		<p>A Magic the Gathering database.</p>
		<p>Inside you will find information regarding the cards, artists, and sets of Magic the Gathering.</p>
	</center>
	</div>	
</div>
<!-- HexBin -->
<div id="examples">
  <div id="examples-deep"></div>
</div>
<p></p>
<center>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/wizards_magic" data-widget-id="717527961843273728">Tweets by @wizards_magic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="../static/js/hexbin.js"></script>
</center>