body {
	background-color: #000000;
	background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/header.jpg');
    min-height: 2000px;
    padding-top: 300px;
    color: white;
}

th{
	padding-left: 20px;
	text-align: left;
	font-weight: bold;
	font-size: 1.75em;
	font-family: magicFont;
}

a{
	color: orange;
    text-decoration: none;
    background-color: transparent;
}
	
}

.capitalize{
	text-transform: capitalize;
}
	
.navbar-default {
	background-color: #000000;
	background-image: none;
}

.navbar-brand>img {
	width: auto;
	margin-top: -40px;
	}

.navbar-fixed-top {
	margin-top: 30px;
}

@media (min-width: 1024px) {
	.container-extra {
		width: 60%;
	}
	.specifictd {    
        width:100px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}

hbar {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

.yelling-font {
	color: orange;
	font-size: 4em;
	font-family: magicFont;
}

.bottom-margin {
	margin-bottom: 50px;
}

.title-font{
	margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 2cm;
    font-size: 3em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;;
    font-weight: 500;
    line-height: 1.1;
    color: orange;

}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #707070;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #303030;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CC3300;
}

#no-borders-table {
	border-top: none !important;
	border-bottom: none !important;
}

#roundedbg-about{
	 color: #000000;
    border-radius: 15px 50px;
    background: #FFFFFF ;
    padding: 20px;
}


#roundedbg-card {
	/*width: 700px;*/
	/*display: inline-block;*/
	background: #333333;
	-moz-border-radius: 6px; 
	border-radius: 15px 50px;
	overflow: hidden;
	padding: 20px;
}

#roundedbg-table {
	/*display: inline-block;*/
	background: #333333;
	-moz-border-radius: 6px; 
	border-radius: 15px 50px;
	overflow: hidden;
	padding: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.pagination>li>a, .pagination>li>span {
	background-color: #303030;
	border-color: #000;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	background-color: #303030;
	border-color: #000;
	color: #fff;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
    padding-left: 25px;
}

@font-face {
    font-family: magicFontBold;
    src: url(../fonts/belerensmallcaps-bold-webfont.ttf);
}

@font-face {
    font-family: magicFont;
    src: url(../fonts/beleren-bold-webfont.ttf);
}