<div class="container" ng-controller="SetInstanceController">

	<div class="view-container">
		<p class="yelling-font text-center">{{ setinstances[0].name }} </p>
	</div>

	<div class="container" id="roundedbg-table">
  		<div class="col-md-12 center-block">
	   	<table class="table table-striped table-hover table-condensed">

	   		<thread>
	          	<tr>
	            	<th ng-repeat="tableHeader in tableHeaders">
		              	<a href ng-click="sort(tableHeader)">
		                {{tableHeader.label}} 
		                <span ng-show="sortType == tableHeader.sortType && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
		                <span ng-show="sortType == tableHeader.sortType && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
		              	</a>
	            	</th>
	          	</tr>
	   		</thread>

	        <tbody>
	          <tr ng-repeat="multiverse_id in setinstances[0].multiverse_ids | orderBy:sortType:sortReverse">
	            <td><a href="#/cards/{{ multiverse_id.card_id }}"><img src="{{ multiverse_id.image_url }}" height="150px"></a></td>
	            <td>
	              <b><a href="#/cards/{{ multiverse_id.card_id }}">{{ multiverse_id.card_id }} </a></b>
	              <br>{{ multiverse_id.rarity }}
	              <br>{{ multiverse_id.flavor }}
	            </td>
	            <td><a href="#/artists/{{ multiverse_id.artist_id }}">{{ multiverse_id.artist_id }}</a></td>
	          </tr>
	        </tbody>
       	</table>
		</div>
  	</div>
</div>
