<div class="container bottom-margin" style="color: #FFFFFF">
	<div class="row">
		<div class="col-sm-6">
			<span class="yelling-font">We are Dark Ritual!</span>
			<p>We are a group of 6 eclectic college students with a love of rituals of the darkest nature. We strive to create a friendly atmosphere and impart knowledge about the wonders of Magic cards.
			<p>This page will be updated as the project continues.
		</div>
		<div class="col-sm-6">
			<p>
				Total # of Commits: <br>Total # of Issues: 18 <br>Total # of Unit Tests: 12
			<p>
				<a href="http://docs.darkritual.apiary.io/#">Apiary API</a> <br>
				<a href="https://github.com/dark-ritual/cs373-idb/issues">GitHub Issue Tracker</a> <br>
				<a href="https://github.com/dark-ritual/cs373-idb">GitHub Repo</a> <br>
				<a href="https://github.com/dark-ritual/cs373-idb/wiki">GitHub Wiki</a><br>
				<a href="#/tests">Run Tests</a>
			<p>
				<b>Data Sources:</b> <br>
				<a href="http://mtgsalvation.gamepedia.com/Main_Page">MtG Salvation</a> - for card set information <br>
				<a href="http://gatherer.wizards.com/Pages/Default.aspx">Gatherer</a> - for card lists & artist information
			<p>
				<b>Tools Used (So far):</b> <br>SQLAlchemy, Bootstrap, CSS, HTML, TravisCI, Trello, JavaScript, Slack, GitHub, Flask, Apiary, Namecheap, Python
		</div>
	</div>
</div>

<div class=container>
	<!-- Member Information -->
	<div class="row bottom-margin">
		<!-- First Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/JavierV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Javier De La Garza</b> - <i>Legendary Creature</i>
			<p>CS Student. Master Salsa Maker.
			<p>Major Responsibilities: SQLAlchemy and Frontend Bootstrap
			<p>
				# Commits: 30 <br># Issues: 5 <br># Unit Tests: 0
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/ShanellV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Shanell</b> - <i>Legendary Creature</i>
			<p>CS Student.
			<p>Major Responsibilities: Docker/Carina Set-up, Hosting, Bootstrap, Technical Document.
			<p>
				# Commits: 8 <br># Issues: 3 <br># Unit Tests: 0
		</div>
	</div>
	<div class="row bottom-margin">
		<!-- Second Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/PeterV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Peter</b> - <i>Legendary Creature</i>
			<p>CS Student.
			<p>Major Responsibilities: Technical Document, RESTful API, Apiary Documentation.
			<p>
				# Commits: 4 <br># Issues: 2 <br># Unit Tests: 0
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/StephanieV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Stephanie Wilbur</b> - <i>Legendary Creature</i>
			<p>CS Student. Enjoys fly fishing.
			<p>Major Responsibilities: SQLAlchemy, Python Unit Tests.
			<p>
				# Commits: 3 <br># Issues: 3 <br># Unit Tests: 12
		</div>
	</div>
	<div class="row bottom-margin">
		<!-- Third Row -->
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/MarkV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Mark</b> - <i>Legendary Creature</i>
			<p>CS Student. Cult leader.
			<p>Major Responsibilities: Python Unit Tests
			<p>
				# Commits: 2 <br># Issues: 1 <br># Unit Tests: 12
		</div>
		<div class="col-sm-3">
			<td><img class="centerimg" src="../static/images/TonyaV1.0.png" width="200px"></td>
		</div>
		<div class="col-sm-3" id="roundedbg-about">
			<b>Tonya Howard</b> - <i>Legendary Creature</i>
			<p>CS Student. Wants to eat cake all day.
			<p>Major Responsibilities: Bootstrap, Frontend Website Dessign.
			<p>
				# Commits: 11 <br># Issues: 1 <br># Unit Tests: 0
		</div>
	</div>
	<!-- /Third Row -->
</div>

