
<head>
  <title>Artists</title>
  <style>
    body{
      min-height: 2000px;
      padding-top: 70px;
    }
  </style>
</head>
<body role="document">
  <div class="page-header">
    <h1>Artists</h1>
  </div>


  <!-- Table -->
  <div class= container>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <th>Artist</th>
            <th><center>Card</center></th>
            <th><center>Set</center></th>
            <th><center>Type</center></th>
            <th><center>Converted Mana Cost</center></th>
            <th><center>Cost</center></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&artist=[%22Steve%20Argyle%22]">Steve Argyle</a></td>
            <td><center><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=197160">Admonition Angel</a></center></td>
            <td><center><a href="http://mtgsalvation.gamepedia.com/Worldwake">WorldWake</a></center></td>
            <td><center>Creature - Angel</center></td>
            <td><center>6</center></td>
            <td><center><img src="../static/images/3generic.png" alt="3" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"></center></td>
          </tr>
          <tr>
            <td><a href="http://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&artist=[%22Jeff%20A.%20Menges%22]">Jeff A. Manges</a></td>
            <td><center><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=1749">Deep Water</a></center></td>
            <td><center><a href="http://mtgsalvation.gamepedia.com/The_Dark">The Dark</a></center></td>
            <td><center>Enchantment</center></td>
            <td><center>0</center></td>
            <td><center><img src="../static/images/water.gif" alt="water" style="width:20px;height:20px;"><img src="../static/images/water.gif" alt="water" style="width:20px;height:20px;"></center></td>
          </tr>
          <tr>
            <td><a href="http://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&artist=[%22Nils%20Hamm%22]">Nils Hamm</a></td>
            <td><center><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=405307">Mountain</a></center></td>
            <td><center>All Sets</center></td>
            <td><center>Basic Land</center></td>
            <td><center>0</center></td>
            <td><center>-</center></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
