<div>
  <div class="view-container">
    <p class="yelling-font text-center">Steve Argyle</p>
  </div>

	<div class="container" id="roundedbg-table">
		<div class="col-md-12 center-block">
			<table class="table" id="no-borders-table">
        <tbody>
          <tr>
            <td><img class="center-block" src="../static/images/admonitionangel.jpg" width="100px"></td>
            <td>
              <b>Admonition Angel</b>
              <br>Steve Argyle
              <br>Flying
              <br>Landfall — Whenever a land enters the battlefield under your control, you may exile target nonland permanent other than Admonition Angel.
              <br>When Admonition Angel leaves the battlefield, return all cards exiled with it to the battlefield under their owners' control.
            </td>
            <td style="width: 125px"><img src="../static/images/worldwake-rare.jpg">Worldwake</td>
          </tr>
          <tr>
            <td><img class="center-block" src="../static/images/angelic-arbiter.jpg" width="100px"></td>
            <td>
              <b>Angelic Arbiter</b>
              <br>Steve Argyle
              <br>Flying
              <br>Each opponent who cast a spell this turn can't attack with creatures.
              <br>Each opponent who attacked with a creature this turn can't cast spells.
            </td>
            <td style="width: 125px"><img src="../static/images/mtgcommander.jpg">Magic: The Gathering-Commander</td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>
</div>