<div class="container" ng-controller="CardsController">
    
  <table class="table table-striped table-hover table-condensed">
    
    <thead>
      <tr>
      <th>
          <a href ng-click="sortType = 'card'; sortReverse = !sortReverse">
          Card 
            <span ng-show="sortType == 'card' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'card' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a href ng-click="sortType = 'artist'; sortReverse = !sortReverse">
            Artist 
            <span ng-show="sortType == 'artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a href ng-click="sortType = 'set'; sortReverse = !sortReverse">
          Set
            <span ng-show="sortType == 'set' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'set' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a href ng-click="sortType = 'type'; sortReverse = !sortReverse">
          Type
            <span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a href ng-click="sortType = 'cmc'; sortReverse = !sortReverse">
          Converted Mana Cost
            <span ng-show="sortType == 'cmc' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'cmc' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a href ng-click="sortType = 'cost'; sortReverse = !sortReverse">
          Cost
            <span ng-show="sortType == 'cost' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'cost' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="card in cards | orderBy:sortType:sortReverse">
        <td>{{ card.card }}</td>
        <td>{{ card.artist }}</td>
        <td>{{ card.set }}</td>
        <td>{{ card.type }}</td>
        <td>{{ card.cmc }}</td>
        <td>
        <span ng-repeat="color in card.cost">
        	<div ng-if="color.type == 'any'" class="mtg-any{{color.value}} mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any0'" class="mtg-any0 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any1'" class="mtg-any1 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2'" class="mtg-any2 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any3'" class="mtg-any3 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any4'" class="mtg-any4 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any5'" class="mtg-any5 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any6'" class="mtg-any6 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any7'" class="mtg-any7 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any8'" class="mtg-any8 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any9'" class="mtg-any9 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any10'" class="mtg-any10 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any11'" class="mtg-any11 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any12'" class="mtg-any12 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any13'" class="mtg-any13 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any14'" class="mtg-any14 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any15'" class="mtg-any15 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any16'" class="mtg-any16 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any17'" class="mtg-any17 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any18'" class="mtg-any18 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any19'" class="mtg-any19 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any20'" class="mtg-any20 mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'anyX'" class="mtg-anyX mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'anyY'" class="mtg-anyY mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'anyZ'" class="mtg-anyZ mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'white'" class="mtg-white mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'blue'" class="mtg-blue mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'black'" class="mtg-black mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'red'" class="mtg-red mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'green'" class="mtg-green mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'snow'" class="mtg-snow mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'white-blue'" class="mtg-white-blue mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'white-black'" class="mtg-white-black mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'blue-black'" class="mtg-blue-black mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'blue-red'" class="mtg-blue-red mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'black-red'" class="mtg-black-red mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'black-green'" class="mtg-black-green mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'red-white'" class="mtg-red-white mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'red-green'" class="mtg-red-green mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'green-white'" class="mtg-green-white mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'green-blue'" class="mtg-green-blue mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2-white'" class="mtg-any2-white mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2-blue'" class="mtg-any2-blue mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2-black'" class="mtg-any2-black mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2-red'" class="mtg-any2-red mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'any2-green'" class="mtg-any2-green mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'phyrexia-white'" class="mtg-phyrexia-white mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'phyrexia-blue'" class="mtg-phyrexia-blue mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'phyrexia-black'" class="mtg-phyrexia-black mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'phyrexia-red'" class="mtg-phyrexia-red mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'phyrexia-green'" class="mtgphyrexia-green mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'tapA'" class="mtg-tapA mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'untap'" class="mtg-untap mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'infinity'" class="mtg-infinity mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'half'" class="mtg-half mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'tapB'" class="mtg-tapB mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'tapC'" class="mtg-tabC mtg-standard"></div>
        	<div ng-repeat="i in range(0,color.value)" ng-if="color.type == 'white-old'" class="mtg-white-old mtg-standard"></div>
        	
        </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>