<div class="container" ng-controller="CardInstanceController">

  <div class="container" id="roundedbg-card">

  	<div class="col-sm-6 center-block" style="width: 40%; max-width: 800px; table-layout: fixed;">
  	  <img class="center-block" src="../static/images/admonitionangel.jpg" width="250px">
  	</div>

  	<div class="col-sm-6 center-block">
  		<table class="table" id="no-borders-table">
        <tbody>
          <tr>
            <td class="text-right" width="75px"><b>Name:</b></td>
            <td width="150px">{{ name }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Artist:</b></td>
            <td>{{ artist }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Sets:</b></td>
            <td>{{ sets }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Type:</b></td>
            <td>{{ type }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Converted Mana Cost:</b></td>
            <td>{{ cmc }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Cost:</b></td>
            <td><img src="../static/images/3generic.png" alt="3" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"><img src="../static/images/air.gif" alt="air" style="width:20px;height:20px;"></td>
          </tr>
          <tr>
            <td class="text-right"><b>Card Text:</b></td>
            <td>{{ text }} </td>
          </tr>
          <tr>
            <td class="text-right"><b>P/T:</b></td>
            <td>{{ pt }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Rarity:</b></td>
            <td>{{ rarity }}</td>
          </tr>
        </tbody>
      </table>
  	</div>

  </div>

</div>